body {
    background-image: url("..\\images\\backdrop.png");
}

div[class^="col"] {
    background: white;
    background-image: url("..\\images\\whirl.png");
    border: 1px solid black;
    border-radius: 5px;
}

div[value]:active {
    background: #999;
}

div[value]:hover {
    background: #ccc;
}

h1 {
    font-family: 'Bellefair', serif;
    font-weight: bolder;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

p {
    font-family: 'Bellefair', serif;
}

.container {
    margin: 0px auto;
    width: 97%;
}

.description > p {
    padding-top: 10px;
}

.row {
    margin: 10px 0;
    padding: 2px;
}

.stats {
    font-size: 400%;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}
